{% extends "account_manager/base.html" %}

{% load i18n %}

{% block page_title %}
    {% trans "Confirm password reset" %}
{% endblock %}

{% block main_content %}
    <p>{% trans "Enter your new password below to reset your password:" %}</p>

    <form method="post" action="">{% csrf_token %}
        <div class="row">
            <div class="col-md-1">
                <b>New password:</b>
            </div>

            <div class="col-sm-3">
                <input type="password" class="form-control" name="password" />
            </div>
{#            #}
{#            <div class="col-md-1">#}
{#                <input #}
{#            </div>#}
        </div>
        <br>

        <input type="submit" class="btn btn-success" value="{% trans 'Set password' %}" />
    </form>
{% endblock %}